@{
    ViewBag.Title = "SuaTTCanBo";
}


<style>
    .wrapper {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    .content-wrapper {
        flex: 1;
    }

    .main-footer {
        flex-shrink: 0;
        background-color: #ddeeff;
        width: 100%;
        height: 40px;
        position: fixed;
        bottom: 0;
        left: 0;
        font-size: small;
    }
</style>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Sửa thông tin người dùng</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Trang chủ</a></li>
                        <li class="breadcrumb-item"><a href="@Url.Action("DSCanBo","DanhSachCanBo")">Danh sách Cán Bộ</a></li>
                        <li class="breadcrumb-item active">Sửa thông tin người dùng</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <div class="container mt-5 wrapper mb-5">
        <!--chú ý-->
        <div class="row mt-4">
            <div class="col-md-6 offset-md-3">
                <form>
                    <div class="form-group">
                        <label for="fullName">Họ và tên: </label>
                        <input type="text" class="form-control" id="fullName" required>
                    </div>
                    <div class="form-group">
                        <label for="gioiTinh">Giới Tính</label>
                        <div>
                            <div class="form-check form-check-inline">
                                <input type="radio" name="gioiTinh" id="nam"
                                       value="nam" class="form-check-input" checked>
                                <label for="nam" class="form-check-label">Nam</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input type="radio" name="gioiTinh" id="nu"
                                       value="nu" class="form-check-input">
                                <label for="nu" class="form-check-label">Nữ</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <div class="input-group">
                            <input type="email" name="email" class="form-control" placeholder="Mã số nhân viên_tên@gmail.com" id="email" aria-label="Recipient's username" aria-describedby="basic-addon2">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="idNumber">Số căn cước:</label>
                        <input type="text" class="form-control" id="idNumber" pattern="[0-9]{12}" placeholder="Căn cước công dân mới 12 số">
                    </div>
                    <div class="form-group">
                        <label for="phone">Số điện thoại:</label>
                        <input type="text" class="form-control" id="phone" pattern="[0-9]{10}" placeholder="0123-456-789">
                    </div>
                    <div class="form-group">
                        <label for="department">Phòng ban:</label>
                        <select class="form-control" id="department" required>
                            <option value="">Chọn phòng ban</option>
                            <option value="Tổng hợp">Tổng hợp</option>
                            <option value="Kế toán">Kế toán</option>
                            <option value="Nhân sự">Nhân sự</option>
                            <option value="Kỹ thuật">Kỹ thuật</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Cập nhật thông tin</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- /.content-wrapper -->
<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
</aside>
<!-- /.control-sidebar -->